<html>
<head><title>aboutus</title>
	{% load static %}
<style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style>
</head>
<body>
<font face="Edwardian Script ITC" color="green" size=6><h1 align="center">About Us</h1></font>
<hr color="violet">
<pre>
<ol><font face="Californian FB" color="purple" size=6><b>
<li>Our school motto is knowledge is structured in consciousness</li>
<li>Our school contains classes k.G to 12th</li> <font face="Californian FB" color="purple" size=6><b>
<li>Our school is over 65 acres  </li>
<li>Our school have CBSE and STATE syllables</li>
<li>Our school have many branches in India</li>
<li>Our school has only English medium</li>
<li>Our campus include beautiful gardens</li><font face="Californian FB" color="purple" size=6><b>
<li>Our school has basic knowledge of computer science</li>
<li>Our campus have chemical labs, math lab etc...</li>
<li>In our school all children and staff are covered under new India assurance Ltd</li>
<li>Our school include transdental meditation, yoga, health checkups and exercises.</li><font face="Californian FB" color="purple" size=6><b>
<li>In our schools every year they conduct competitions like recitations, collage, drawing, face painting.</li>
<li>Our hosur school has its own website namely www.maharishividyamandirhosur.com</li>
<li>School has strict rules as bringing electronic gadget like pen drives are prohibited.</li>
<li>School has lingo labs for improving spoken English.</li>
<li>Students are provided with playing items.</li>
<li>In our school hostel facility is also eligible.</li></font><font face="Californian FB" color="purple" size=6><b>
<li>Our school has very big football ground, large cricket ground etc....</li><font face="Californian FB" color="purple" size=6><b>
<li>In our school next year swimming classes will include in E.C.</li>
</font>
</body>
</html> 
