<htmL>
<head>
<title>AC</title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}');
	background-repeat: no-repeat; 
}
</style>
</head>
<body>
<font face="Castellar"color="blue" size="8"><h1 align="center">Scouts and Guides</h1></font>
<hr>
<br>
<p align="center"><font color="green" face="Brush Script MT" size="9">The motto of Scouts and Guides is to inculcate discipline amongst the students. Nearly 360 of our students have received the Governor Award. The recent enrollment in Tritiya Sopan Programme has raised upto 250. Sixer Meet is conducted for Bulbuls and Cubs. The extent of motivation given to the students is evinced from the fact that the number of students in the club has raised from 75 to 2200. Of this, 75 students received Heerapankh Award and 110 studentsreceived Chaturtha Charan Award. Not stopping with this, our school proudly stands first in Tamilnadu possessing.</p>
<br><font color="maroon" face="Brush Script MT" size="9">There are 149 teachers 5751  students
<pre>
<img src="{% static 'images/MAHARISHI-VIDYA-MANDIR (2).jpg' %}" height="400" width="600"><br><img src="{% static 'images/21-00-00-M-district2.jpg' %}"height="400" width="600">
<img src="{% static 'images/20140802_114016.jpg' %}"height="600" width="400"> 
</pre>
</body>
</html>


