<html>
<head><title>activities</title></head>
<font face="Edwardian Script ITC" color="yellow" size="8"><h1 align="center">activities</h1></font>
<hr color="indigo">
<body background="_blue_background_195120.jpg">
<font color="maroon" face="French Script MT" size="9">
<font color="red" face="Brush Script MT size="10"><b>Special activities</b><img src="act1.jpg"></font>
<p>Skills nurtured at a tender age would reap greater and better benefits in the future. Training is given to our children in the form of EC-Activities like
Yoga</p>

<p>Foot Ball</p>

<p>Tabla</p>

<p>Volley Ball</p>

<p>Flute</p>

<p>Hand Ball</p>

<p>Keyboard</p>

<p>Table Tennis</p>

<p>violin</p>

<p>Throw Ball</p>

<p>Band</p>

<p>Shuttle</p>

<p>Bharathanatyam</p>

<p>Basket Ball</p>

<p>Vocal</p>

<p>Taekwando</p>

<p>Tailoring</p>

<p>Robotics</p><br>

<p></b>Club Acitivity</p></b>
<p>The school promotes the qualities of patience, dedication, sincerity and service-mindedness among the students by involving them into various club activities in the school. This initiative has driven into them a positive energy to serve the society in every possible way.
CMCA(CHILDREN’S MOVEMENT FOR CIVIC AWARENESS)</p>
<p>Children’s Movement for Civic Awareness is a club which is always ready to create awareness among the civilians. The club members work continuously by conducting rallies, street plays and meeting the public to create awareness among the public. This club comprises of 80 to 90 students every year.<br></p>
<p><B>services</p></b>
<p><b>junior red cross</p></b>
<p>Service is the motto of this club. This club was started in the year 2006 with 109 students. The number has reached 732 this year. Students are trained on First Aid and also how to manage during a disaster. As of now eight teachers of our school have received the Best Counsellor Award.</p>
<p>SERVICE MOVEMENT</p>
<p>NCC (NATIONAL CADET CORPS)</p>
<p>The motto of NCC (National Cadet Corps) is to do selfless service thereby, serve the nation in every possible way. 15 NCC Cadets attended CATC camp at Kovai. They stood first among the 21 schools and colleges of Coimbatore Region in Drill competition. 5 cadets got selected for CATC, for RDC and TSC selection camp held at Kandasamy Kandar’s College. Master J. Gowtham of IX standard got selected from RDC and TSC selection camp.
<img src="NCC.jpg"></p>
</font>
</body>
</html>