<html>
<head><title>Admission form</title>{% load static %}
  <style>
body{
	background-image: url('{% static "images/20978.jpg" %}');
	background-repeat: no-repeat; 
}
</style></head>
<body><font face="Californian FB" size=6 color=brown><marquee scroLlamount=7>student identification Form</marquee></font><hr color=maroon size=5>
<br><br>
<form>
<table align=center cellspacing=4 cellpadding=4 border=3><b> 
<tr><td><b> Name:</td><td><input type=text></td></tr>
<tr><td><b> Father's Name:</td><td><input type=text></td></tr>
<tr><td><b> Mother's Name:</td><td><input type=text></td></tr>
<tr><td><b> Class:</td><td><select>
<option>prekg
<option>lkg
<option>ukg
<option>class1
<option>class2
<option>class3
<option>class4
<option>class5
<option>class6
<option>class7
<option>class8
<option>class9
<option>class10
<option>class11
<option>class12</select></td></tr>
<tr><td><b> Gender</td><td><input type=radio name="sex" value="female"><b> Male <input type=radio name="sex" value="Female"><b>Female </td></tr>
<tr><td><b> Cast:</td><td><input type=radio name="CAST" value="SC"><b> SC<input type=radio name="CAST" value="ST"><b>ST <input type=radio name="CAST" value="OBC"><b>OBC <input type=radio name="CAST" value="GENRAL"><b>GENRAL
<tr><td><b> DOB:</td><td>date:<select>
<option>1
<option>2
<option>3
<option>4
<option>5
<option>6
<option>7
<option>8
<option>9
<option>10
<option>11
<option>12
<option>13
<option>14
<option>15
<option>16
<option>17
<option>18
<option>19
<option>20
<option>21
<option>22
<option>23
<option>24
<option>25
<option>26
<option>27
<option>28
<option>29
<option>30
<option>31
</select></td>
<td>month:<select>
<option>JANUARY
<option>FEBRUARY
<option>MARCH
<option>APRIL
<option>MAY
<option>JUNE
<option>JULY
<option>AUGUST
<option>SEPTEMBER
<option>OCTOBER
<option>NOVEMBER
<option>DECEMBER</select>
<td>year:<select>
<option>1998
<option>1999
<option>2000
<option>2001
<option>2002
<option>2003
<option>2004
<option>2005
<option>2006
<option>2007
<option>2008
<option>2009
<option>2010
<option>2011
<option>2012
<option>2013
<option>2014
<option>2015
<option>2016</select></td></tr>
<tr><td><b> Address:</td><td><textarea rows=5 cols=20></textarea></td></tr>
<tr><td><b> Phone number:</td><td><input type=text></td></tr>
<tr><td><b> E-mail:</td><td><input type=text></td></tr>
<tr><td><button><input type="button"><b> Submit</td>  <td><button><input type="button"><b> Reset</td></tr>
</b>
</table>
</body>
</html>