<html>
<head>
<title> ADMISSION  </title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}');
	background-repeat: no-repeat; 
}
</style>
</head>
<body  background="_blue_background_195120.jpg">
<font face="Californian FB" color="green" size=4 align="center"><h1><marquee scrollamount="12" behavior="scroll">  ADMISSION </marquee></h1></font>
<hr size="7" color="red">
<br>
<font face="Californian FB" color="purple" size="6" >
<p><b>1. While seeking fresh admission, parent should produce transfer certificate from the school where the child last studied, duly signed by the competent authority. Application for admission into LKG/UKG should be accompanied by original birth certificate for verification. </p>
<p><b>2.A child seeking admission to class 1 should have completed 5 years & 6 months of age on 31st March. The age of admission to other classes shall be reckoned accordingly. Relaxation in age is not permitted. Apart from that, the students should have learnt one more language in addition to 2 language for getting admission to 5 to 8</p>
<p><b>3.This school will admit student from all recognized schools central/State on production of T.C duly certificate officer of the education department .however ,in STD 9 to 12,this school will admit only student from Central Schools on production of TCs. Students are admitted on the basis of the scheme of school based assessment.</p>
<p><b>4.candidates seeking admission to class 11 should have any of the following criteria:-
<b>                  Passed an equivalent examination conducted by the other recognized by CBSE STATE BOARD</p>
</font>

</body>
</html
