<htmL>
<head>
<title>Bhavans</title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style>
</head>
<body>
<font face="monotype corsiva" color="blue" size="5" align="center"><h1><marquee scrollamount="12" behavior="SCROLL">  Bhavans </marquee></h1></font>
<hr>
<table border=2 bordercolor="red" cellspacing=10 cellpadding=10>
<tr height=100 width=100>
<td><img src="{% static 'images/DSC_0008.jpg' %}" height="300" width="400"></td>
<td><img src="{% static 'images/DSC_0011.jpg' %}" height="300" width="400"></td>
</tr>
<tr bgcolor="gold"  align="center">
<td><font face="monotype corsiva" color="blue" size="5" align="center">Vyasa Bhavan</td>
<td><font face="monotype corsiva" color="blue" size="5" align="center">Ved Bhavan</td>
</tr>
<tr>
<td><img src="{% static 'images/DSC_0013.jpg' %}"height="300" width="400"></td>
<td><img src="{% static 'images/DSC_0016.jpg' %}" height="300" width="400"></td>
</tr>
<tr bgcolor="gold" align="center">
<td><font face="monotype corsiva" color="blue" size="5" align="center">Padmapada Bhavan</td>
<td><font face="monotype corsiva" color="blue" size="5" align="center">Vashista Bhavan</td>
</tr>
<tr>
<td><img src="{% static 'images/DSC_0025.jpg' %}"height="300" width="400"></td>
<td><img src="{% static 'images/DSC_0034.jpg' %}"height="300" width="400"></td>
</tr>
<tr bgcolor="gold" align="center">
<td><font face="monotype corsiva" color="blue" size="5" align="center">Shakthi Bhavan</td>
<td><font face="monotype corsiva" color="blue" size="5" align="center">Trotakacharya Bhavan</td>
</tr>
<tr>
<td align="center"><img src="{% static 'images/IMG-20160125-WA0003.jpg' %}"height="300" width="200"></td>
<td><img src="{% static 'images/21-01-19-DSC_0031.jpg' %}"height="300" width="400"></td>
</tr>
<tr bgcolor="gold" align="center">
<td><font face="monotype corsiva" color="blue" size="5" align="center">Sankara Bhavan</td>
<td><font face="monotype corsiva" color="blue" size="5" align="center">Hashamalaka Bhavan</td>
</tr>
</table>
</body>
</html>


