<htmL>
<head>
<title>Classrooms</title>

{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style>
</head>
<body>
<marquee><font face="verdana"color="green" size="8">classroom</font></marquee>
<hr>
<pre>
<img src="{% static 'images/IMG_6185.jpg' %}"height="400" width="600"><br><br>
<img src="{% static 'images/IMG_6207.jpg' %}"height="400" width="600"> <br>
</pre>
<p align="right"><a href="{% url 'infrastructure' %}"><font face="monotype corsiva" color="green" size="8">HOME </font></a></p>
</body>
</html>


