<htmL>
<head>
<title>MVM </title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/20978.jpg" %}');
	background-repeat: no-repeat; 
}
p{ font-size: 20px;color: black;
   }

</style>

</head>

<body>
<font face="monotype corsiva" color="green" size="5" align="center">
	<hr color="gold">
	<h1><marquee scrollamount="12" behavior="SCROLL">  CO-Curricular Activities </marquee></h1></font>
	<hr color="gold">
<table align=center cellspacing=4 cellpadding=4 border=3><b> 
<tr>
<th><a href="{% url 'ac' %}" target="right"><font face="Colonna MT"color="red" size=6><b><i>Scouts and Guides</b></i></th>
<th><a href="{% url 'ac2' %}" target="right"><font face="Colonna MT"color="red" size=6><b><i>Junior red cross</b></i></th>
<th><a href="{% url 'sports' %}" target="right"><font face="Colonna MT"color="red" size=6><b><i>EC</b></i></a></th>
</tr>
</table>
<p>Besides, teaching work in the school time one other activity which is known as co-curricular activities. These activities are important in the sense that they keep the balance of the development of the child. These activities also keep the student busy which help in maintaining the discipline in the school. Game, sports, cultural performance, house-system, debates, dramas, scouting, N.C.C., etc. are some of the co- curricular activities.
</p>
<p>
School curriculum includes several important activities which are for group, individual or outside the school. Some of the activities are internal, while other is external. Internal activities are performed within the school premises, while external activities are performed outside die school, where students represent the school. It earns the name and fame for the whole school. Games, sports, debates, essay competition etc. all can be put as physical and mental activities.
</p>
<p>
Co-curricular activities are very important in the school. Only teaching work or bookish knowledge is not sufficient for the all-round development of die child. These activities keep the students busy and maintain the discipline in the school. It further has psychological affect i.e. all work and no play makes the Jack a dull boy. As such, these activities create an atmosphere of unity, working together and develop the energies of the child.
</p>
<p>
Literary activities create an interest in the learning of different languages i.e. English, Hindi, Sanskrit, Urdu etc. which are taught in the school, and part of the curriculum. These literary activities include essay writing, debates, birth day of literary figures, discussion on their books and works of the authors. These activities aim at providing a wide knowledge of the subject. These also create an interest among the students to study literary in their studies. Great authors arc the guide of the society.
</p>
<p>
Cultural activities are co-curricular and provide an opportunity to the students to know their culture and also to enjoy the school work. These activities are related with the society and the community at large. Some people think that these are extra activities, but it is no so. These activities are part of die vast curriculum of the school and studies. They develop the personality of the students and also provide the knowledge of the past, the hidden qualities of the students.
</p>
<p>
The co-curricular activities are very important for the development of the child. As such these activities should be arranged very carefully. Their planning needs a serious thinking. The functions of these activities should be arranged in a well planned manner. These activities include drama, one-act play, debate, dance shows, and historical events. The function needs a rehearsal, practice and should be arranged after the examination or well in advance of the exams.
</p>
<p>
The rules and regulations must be followed while arranging co-curricular activities. These activities should not be observed during die examination or before the examination or while the exams are approaching so that these activities should not disturb the students. There must be enough time for the preparation as such these should be arranged either well before or after exams.
</p>

</body>
</html>


