<html>
<head>
<title> Contact us </title>
{% load static %}
  <style>
body{
  background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style>
</head>
<body>
<font face="Edwardian Script ITC" color="magenta" size="6" align="center"><h1><marquee scrollamount="12">  Contact Us</marquee></h1></font>
<hr size="7" color="red">
<br>
<pre><font face="Californian FB" color="red" size="6" align="center"><b>
	Maharishi Vidya Mandir<font face="Californian FB" color="GREEN" size="6" align="center">
	   (KINDERGARTEN)
         (An ISO 9001:2008 Certified Institution)
	SANKARA BHAVAN
              Bagalur Road, Hosur- 635 109
       Phone : +91 94894 94621, +91 93623 11399
	
 

 



<pre><font face="Californian FB" color="red" size="6" align="center">
	Maharishi Vidya Mandir<font face="Californian FB" color="GREEN" size="6" align="center">
            (An ISO 9001:2008 Certified Institution)
	      SAKTHI BHAVAN
         Swami Brahmananda Saraswathi Nagar,
                   Sipcot, Hosur-635 126
        Phone : +91 94894 94621, +91 93623 11399

 

 
<pre><font face="Californian FB" color="red" size="6" align="center">
	Maharishi Vidya Mandir<font face="Californian FB" color="GREEN" size="6" align="center">
	 SENIOR SECONDARY SCHOOL
	 (Affiliated to CBSE New Delhi.)
               (An ISO 9001:2008 Certified Institution)
              Swami Brahmananda Saraswathi Nagar,
                          Sipcot, Hosur-635 126
             Phone : +91 94894 94621, +91 93623 11399
</b>
</pre>
</body>
</html>