<html>
<head>
<title> Dicom  </title></head>
<body  background="_blue_background_195120.jpg">
<font face="monotype corsiva" color="red" size="6" align="center"><h1><marquee scrollamount="12" behavior="scroll"><pre>              Dicom<br>Delivering Confident Communication</pre></marquee></h1></font><hr size="7" color="red">
<br>
<p align="center"><font face="monotype corsiva" color="purple" size="7" >
Maharishi Vidya Mandir introduced Dicom school programme for the students and a few students have opted this programme at the Primary Level. The classes are held twice in a week for each section. Special trainers from the managemen handle these classes. It focuses how to speak english fluently.It cover speed reading and speaking without any mistake.Dicom teaches adopt many techniques that will support children to face the challenges in life.
<br><br>
<font face="monotype corsiva" color="red" size="7" >Head office is in chennai . Zonal office is in krishnagiri.There are 8 trainers 1 leader.</font><br><br>
<p align="center"><font face="monotype corsiva" color="brown" size="8" >Students Feedback<br><br>
<font face="Cooper" color="purple" size="6" >
<b><i>I am<font face="Britannic" color="green" size="6" > Chetna V Bohra</font> of class X. I would like to share my views.I had started Dicom classes from the month of June. We had these class commencing from past 6 months. Personally I had been enjoying these classes. These classes are known for their unique ways that helps to improve our English. 
They even provoke the belief that no one is perfect. In order to become perfect, we should improve our self motivation.English is just a easy language like our mother tongue.If we speak it,then only it will come fluently.
I even enjoyed the methods used for speaking English fluently without any trouble. Especially our dicom trainer Mr.Riyaz’s ways of building confidence.
………Hoping I can speak english better than a englishman.</i></b>
</font>
</body>
</html>
