<htmL>
<head>
<title>MVM </title>
</head>
<body background="_blue_background_195120.jpg">
<marquee><font face="Book Antiqua" color="black" size="6">FACILITIES</marquee>
<hr color="gold">
<p align="center"><font face="Book Antiqua"color="blue" size="7"><b>Solar Panel</b>
<p align="center"><font face="Book Antiqua"color="green" size="6"><b>
Solar panels are situated over all the bhavans. Our school has solar panel on building to conserve energy. Our school street lamps are used by charging them by solar energy. Our school tube lights are working using solar energy and all electronic appliances are using solar energy. Our school uses only solar energy for electronic devices. <br><img src="lisha.jpg"><hr>
<p align="center"><font face="Book Antiqua"color="blue" size="7"><b>Rainwater Harvesting</b>
<p align="center"><font face="Book Antiqua"color="green" size="6"><b>
Rainwater Harvesting is located beside Vashista bhavan. Harvested Water is used for agricultural activities. No school has this features in Hosur. It is the best way to conserve water. </p><hr>
<p align="center"><font face="Book Antiqua" color="purple" size="7" align="center">Flip <font face="Book Antiqua" color="yellow" size="10" align="center">learn
<p align="center"><font face="Book Antiqua"color="green" size=6><b>Flip learn is the latest school app in which the students can see their daily home works and the circulars. There are many more uses of this app. First of all the students can read their school books online. There is a feature called Math Guru in which the students can see the videos of their math chapters and understand them very easily. Students can also chat with each other’s and post many things. Another feature is the Smart Class. Students can see the smart class videos on internet through flip learn and make learning the concepts easy.</b></p><hr>
</body>
</html>
