<html>
<head><title>group selection form</title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/20978.jpg" %}');
	background-repeat: no-repeat; 
}
</style>
</head>
<body><font face="Californian FB" size=6 color=brown><marquee scroLlamount=7>Group Selection Form</marquee></font><hr color=maroon size=5>
<br><br>
<form>
<table align=center cellspacing=4 cellpadding=4 border=3><b> 
<tr><td><b> Name:</td><td><input type=text></td></tr>
<tr><td><b> Gender</td><td><input type=radio name="sex" value="female"><b> Male <input type=radio name="sex" value="Female"><b>Female </td></tr>
<tr><td><b> DOB:</td><td>date:<select>
<OPTION>1
<OPTION>2
<OPTION>3
<OPTION>4
<OPTION>5
<OPTION>6
<OPTION>7
<OPTION>8
<OPTION>9
<OPTION>10
<OPTION>11
<OPTION>12
<OPTION>13
<OPTION>14
<OPTION>15
<OPTION>16
<OPTION>17
<OPTION>18
<OPTION>19
<OPTION>20
<OPTION>21
<OPTION>22
<OPTION>23
<OPTION>24
<OPTION>25
<OPTION>26
<OPTION>27
<OPTION>28
<OPTION>29
<OPTION>30
<OPTION>31</select></td>
<td>month:<select>
<option>JANUARY
<option>FEBRUARY
<option>MARCH
<option>APRIL
<option>MAY
<option>JUNE
<option>JULY
<option>AUGUST
<option>SEPTEMBER
<option>OCTOBER
<option>NOVEMBER
<option>DECEMBER</select>
<td>year:<select>
<OPTION>1998
<OPTION>1999
<OPTION>2000
<OPTION>2001
<OPTION>2002
<OPTION>2003
<OPTION>2004
<OPTION>2005
<OPTION>2006
<OPTION>2007
<OPTION>2008
<OPTION>2009
<OPTION>2010
<OPTION>2011
<OPTION>2012
<OPTION>2013
<OPTION>2014
<OPTION>2015
<OPTION>2016</select></td></tr>
<tr><td><b> Address:</td><td><textarea rows=5 cols=20></textarea></td></tr>
<tr><td><b> Blood group:</td><td><select>
<option>A+ve
<option>AB+ve
<option>B+ve
<option>O+ve
<option>A-ve
<option>AB-ve
<option>O-ve<select></td></tr>
<tr><td><b> Father's Name:</td><td><input type=text></td></tr>
<tr><td><b> Occupation:</td><td><input type=text></td></tr>
<tr><td><b> Mother's Name:</td><td><input type=text></td></tr>
<tr><td><b> Occupation:</td><td><input type=text></td></tr>
<tr><td><b> Phone number:</td><td><input type=text></td></tr>
<tr><td><b> Group choosing:</td><td><select>
<option>PCCM
<option>PCBM
<option>CAEC
<option>CAEM
<option>ICON
<option>MEDICON</SELECT></td></tr>
<tr><td><button><input type="button"><b> Submit</td>  <td><button><input type="button"><b> Reset</td></tr>
</b>
</table>
</body>
</html>