<htmL>
<head>
<title>Labs</title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style>
</head>
<body>
<font face="monotype corsiva" color="blue" size="5" align="center"><h1><marquee scrollamount="8" behavior="SCROLL"> Labs </marquee></h1></font>
<hr>
<font face="verdana"color="gold" size="8">Chemistry<font face="verdana"color="green" size="8"> Lab<br>
<img src="{% static 'images/DSC02961.jpg' %}" height="400" width="600"><br>
<font face="Cooper"color="black" size="8">Computer<font face="Harlow Solid"color="green" size="8"> Lab<br>
<img src="{% static 'images/DSC02991.jpg' %}"height="400" width="600"><br>
<font face="Cooper"color="black" size="8">Dicom lingo<font face="Harlow Solid"color="green" size="8"> Lab<br>
<img src="{% static 'images/kgb111-1.jpg' %}"height="400" width="600"> </p>

<p align="right"><a href="{% url 'infrastructure' %}"><font face="monotype corsiva" color="green" size="8">HOME
</body>
</html>


