<htmL>
<head>
<title>MVM </title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style>
</head>
<body>
<font face="verdana"color="blue" size="8"><h1 align="center">Library</h1></font>
<hr>
<font face="Book Antiqua"color="GREEN" size="8">
<p align="center">The school Library provides information, inculcates ideas, and develops knowledge that is so essential to functioning successfully in today’s information and knowledge based society. It is fundamental to school library to equip students with life long learning skills and develop in them creative thinking and imagination, and enabling them to live as ideal and responsible citizens</p>
<pre>
<img src="{ % static 'images/DSC_0065.jpg' %}" height="400" width="800">
<p align="right"><a href="{% url 'infrastructure' %}"><font face="monotype corsiva" color="green" size="8">HOME
</body>
</html>


