<htmL>
<head>
<title>MVM </title>
</head>
<body background="maeb.jpg">
<pre><a href="MVM3.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>Home</b></i>
<a href="aboutus.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>About us</b></i>
<a href="contact us.html" target="right"><font face="Californian FB" color="maroon" size=4><b><i>Contact us</b></i></a>
<a href="rules and regulations.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>Rules and Regulations</b></i>  
<a href="bhavans.html" target="right"><font face="Californian FB" color="maroon" size=4><b><i>Bhavans</b></i></a>
<a href="photo gallery.html" target="right"><font face="Californian FB" color="maroon" size=4><b><i>Photo Gallery</b></i></a>
<a href="school song.html" target="right"><font face="Californian FB" color="maroon" size=4><b><i>School Song</b></i></a>
<a href="isojourney.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>ISO Journey</b></i>  
<a href="special feutures.html" target="right"><font face="Californian FB" color="maroon" size=4><b><i>Special Features</b></i></a>
<a href="infrastructure.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>Infrastructure</b></i>
<a href="admission.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>Admission</b></i>
<a href="schoolprofile.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>School Profile</b></i>
<a href="Xseed.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>Xseed</b></i>
<a href="results.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>10th results</b></i>
<a href="facilities.html" target="right"><font face="Californian FB"color="maroon" size=4><b><i>facilities</b></i>
<a href="co curricular activities.html" TARGET="_BLANK"><font face="Californian FB"color="maroon" size=4><b><i>Co-curricular Activities</b></i>
<a href="org chart.html" TARGET="_BLANK"><font face="Californian FB"color="maroon" size=4><b><i>Organisation Chart</b></i>
<a href="form5.html" target="_blank"><font face="Californian FB"color="maroon" size=4><b><i>Forms</b></i>
</pre>
</body>
</html>



