<htmL>
<head>
<title>MVM </title>
<style>
body {
  background-image: url('g.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style></head>
<body>
<hr color="blue">
<pre><marquee scrollamount=10><img src="0.jpg"height="200"width="350">              <img src="6-500x500.jpg"height="200"width="300">          <img src="20-56-45-act4.jpg"height="200"width="350">          <img src="bus2.jpg"height="200"width="350">          <img src="20-57-20-Untitled-4 copy.jpg"height="200"width="350">          <img src="20-57-35-Untitled-6 copy.jpg"height="200"width="350">          <img src="21-00-00-M-district2.jpg"height="200"width="350">          <img src="21-01-26-1 copy.jpg"height="200"width="350">          <img src="Copy of act1.jpg"height="200"width="350">          <img src="Copy of DSC02942.jpg"height="200"width="350">          <img src="DSC_0072[1].jpg"height="200"width="350">          <img src="DSC_0065.jpg"height="200"width="350">          <img src="DSC04312-500x500.jpg"height="200"width="350">          <img src="images(12).jpg"height="200"width="200"></marquee></pre>
<hr color="blue">
<pre>
<p align="left"><img src="13-17-46-mapimg.jpg">                 <img src="20-54-36-India-map-Anim.gif" height="300" width="280"></a><hr color="blue"></pre>
<p align="center"><img src="z.jpg"></p><font face="Book Antiqua"color="maroon" size=6>
<p align="center"><b><i>His Holiness</b></i><br>
<b><i>Maharishi Mahesh Yogi ji</b></i><hr color="yellow"></font>
<font face="Book Antiqua"color="indigo" size=6>
<p align="center"><b>With the blessings of His Holiness Maharishi Mahesh Yogi ji, the school came into projection during the year 1983 with the motto “Knowledge is structured in Consciousness”. It is a co-educational school following the re-organized pattern of education of 10, +2 years of the Central Board of Secondary Education, Delhi for the classes from Kindergarten to Std. XII. Transcendental Meditation, Yogasana and Pranayama is the integral part of the Curriculum.</p>
<hr color=cyan>
<p align=center><font face="Book Antiqua"color="maroon" size=6><b>Our school started reason</b>
<p align=center><font face="Book Antiqua"color="indigo" size=6><b>Maharishi Mahesh Yogi Ji started our school to aware the people about transdental meditation and to spred transdental meditation all over the world.</b></p>
</font></body>
</html>

