<htmL>
<head>
<title>NCC</title>
</head>
<body background="_blue_background_195120.jpg">
<p align="center"><img src="untitled (8).png" height="200" width="150">
<hr>
<br>
<p align="center"><font color="purple" face="Brush Script MT" size="9">The motto of NCC (National Cadet Corps) is to do selfless service thereby, serve the nation in every possible way. 15 NCC Cadets attended CATC camp at Kovai. They stood first among the 21 schools and colleges of Coimbatore Region in Drill competition. 5 cadets got selected for CATC, for RDC and TSC selection camp held at Kandasamy Kandar’s College. Master J. Gowtham of IX standard got selected from RDC and TSC selection camp.</p>
<p align="center"><img src="Copy of NCC.jpg" height="600" width="750">

</body>
</html>


