<htmL>
<head>
<title>MVM </title>
{% load static %}
</head>
<body background="forest_road_4-wallpaper-4096x30721.JPG">
<font face="monotype corsiva" color="purple" size="5" align="center"><h1><marquee scrollamount="12" behavior="SCROLL">  Organisation Chart </marquee></h1></font>
<p align="center">
	<img src="{% static 'images/kg.jpg' %}">
	<img src="{% static 'images/1&2.jpg' %}">
	<img src="{% static 'images/3&4.jpg' %}">
	<img src="{% static 'images/5&6.jpg' %}">
	<img src="{% static 'images/7&8.jpg' %}">
	<img src="{% static 'images/9&10.jpg' %}">
	<img src="{% static 'images/11&12.jpg' %}">
</p>
</body>
</html>


