<htmL>
<head>
<title>MVM </title>
</head>
<body background="_blue_background_195120.jpg">

<p align="center"><img src="osla-logo.png" height="200" width="700"></p>
<hr>
<p align="center">
<font face="Brush Script MT"color="blue" size="10"><b><i><p align="center">Maharishi Vidya Mandir introduced Only Success Leadership Academy school programme for the students of class 1 to 12 and a few students have opted this programme at the Primary Level. The classes are held once in a week for each section. Special trainers from the academy handle these classes. It focuses areas like Study Skills, Life Skills and Leadership Skills. Study Skills cover speed reading, mind mapping, exam skills and super power memory. Life skills cover goal setting, personal motivation skills, relationship with parents and siblings. Communication skills, high confidence, time management and public speaking skills are covered under Leadership skill. OSLA teaches adopt many techniques, based on neuro-linguistics programmes and whole brain methods that will support children to face the challenges in life.<br>
head office is in Chennai. 27 trainers and mr.adhi is the incharge.  
</i></b>
</p>
<p><font face="Brush Script MT"color="green" size="10"><b><i><u><p align="center">STUDENTS FEED BACK</u></p>
<p><font face="Brush Script MT"color="indigo" size="10"><b><i><p align="center">I am <font face="Brush Script MT"color="orange" size="10">Jyotsna</font> of class V B. I express, my opinion about OSLA classes; it is very useful for my studies. Our coach is very kind. At our previous class our coach told us a story about a girl williama who suffered to walk but her enthusiasm and spirit in her made her win 2 gold medals in the race. We also learnt and principles which are based on Humor, Association, Overview, Colour, Visualization, etc. after this. I have no words to speak about OSLA. I can only define it in 3 words.<font face="Brush Script MT"color="red" size="11"><b><i><p align="center">I love OSLA!!!</p><br><br>
<p><font face="Brush Script MT"color="black" size="10"><b><i>I am <font face="Brush Script MT"color="green" size="10">S.Niveditha</font>, student of class IX. I would like to share some merits about OSLA classes. I am experiencing a good, enjoyable and a great valued class every week. By different methods we learn different things like, the Journey Methods and Flash Cards. We are taught the Memory Game and Time Management. We also learn the Mind Map Method which develops our ideas. I like the Flash card method because it is very challenging for us to understand some typical words. OSLA Classes are very interesting and useful. I think I am lucky to be in this school and to have<font face="Brush Script MT"color="red" size="10"> “Only success”</font> class. Thanks to our senior principal for giving us OSLA class.
</font>

</body>
</html>


