<htmL>
<head>
<title>Play grounds</title>
</head>
<body background="_blue_background_195120.jpg">
<font face="monotype corsiva" color="green" size="10" align="center"><h1><marquee scrollamount="8" behavior="SCROLL">  Playgrounds and Stadiums </marquee></h1></font>
<hr>
<pre>
<font face="monotype corsiva" color="green" size="10">Volleyball Ground<br> <font face="monotype corsiva" color="red" size="7"> volley ball incharge Mrs.Buvaneshwari.
There are two posts in volley ball ground

<img src="Copy of act1.jpg" height="400" width="600"> 


<font face="monotype corsiva" color="green" size="10">Football and Athletics Ground<font face="monotype corsiva" color="brown" size="8">

 <img src="DSC02129[1].jpg"height="400" width="600"><br>Football ground incharge Mr.Papareddy
Football ground length=110m, width=80m
Athletic ground=400m, square meter=24000, incharge.mr=Papareddy


<font face="monotype corsiva" color="green" size="10">Basketball ground <br><font face="monotype corsiva" color="purple" size="8">Basketball ground incharge Mr. Ravi
There are two basketball grounds

<img src="DSC04907.jpg" height="400" width="600">

<font face="monotype corsiva" color="green" size="10">Indoor Stadium <br><font face="monotype corsiva" color="purple" size="8">indoor stadium incharge=Mr. Suresh
There are two indoor stadium for badminton and table tennis

<img src="20-57-35-Untitled-6 copy.jpg" height="400" width="600"> <img src="j.jpg" height="400" width="600"> 
<p align="right"><a href="infrastructure.html"><font face="monotype corsiva" color="green" size="8">HOME
</body>
</html>


