<htmL>
<head>
<title>RULES AND REGULATIONS</title></head>
<body background="_blue_background_195120.jpg">
<font face="Californian FB" color="green" size="5" align="center"><h1><marquee scrollamount="12" behavior="SCROLL">  RULES & REGULATIONS </marquee></h1></font>
<hr color="brown">
<p><font face="Californian FB" color="purple" size="6">
<b>1. All the students should come in the prescribed and neat uniform every day during the school hours and to all school functions.</i></b><br><br>
<b>2. Nobody should bring mobile phones or any other gadgets.</i></b><br><br>
<b>3. During school hours parents/guardians are not allowed to see their wards or their teachers in the classroom without the permission of the principal.</i></b><br><br>
<b>4. Any communications, request or complaint made by the parents/guardians should be addressed only to the principal and not to the teacher in the respective classes.</i></b><br><br>
<b>5. Any wilful damage caused by the student to the building, furniture, apparatus or any other school property is liable to be made good by the parent/guardian.</i></b><br><br>
<b>6. Student who is ill for a long period of time must bring a Medical Certificate.</i></b><br><br>
<b>7. Students should be punctual to school and bring the prescribed books according to the timetable.</i></b><br><br>
<b>8. Students will be eligible to sit for examination only if they put in 80% of attendance.</i></b><br><br>
<b>9. Homework assigned by the teachers should be done regularly and parents/guardians are requested to co-operate with the school authorities by checking the homework of their wards.</b>
</font>
</P>

</body>
</html>


