<html>
<head><title>school song</title></head>
<body background="_blue_background_195120.jpg">
<font face="Brush Script MT" color="BROWN" size=5><h1 align="center">SCHOOL SONG</h1></font>
<hr color=violet>
<body bgcolor=cyan>
<pre>
<font face="Brush Script MT" color="green" size="9" >
Tenders flowers are we
In the garden of "Maharishi"
Where truth and beauty are supreme
Our duty comes first
Pleasure will be the last
We are the children of god
Who’s chosen angel "Maharishi"
Rules our mind: dwells in our heart
His path we follow, there lies our goal
Oh! Jai Guru Dev! Oh! Jai Guru Dev!


<font face="Brush Script MT" color="purple" size="9" >
Guide us between right and wrong
Good and evil, virtue and vice
And show us the path of righteousness
Let love be our region
Bless our school, bless our land:
Bless us all; bless us all;
Fair or dark, rich or poor
We love them all with our heart.


<font face="Brush Script MT" color="red" size="9" >
Long live his holiness Maharishi's glory
Long live Maharishi Vidya Mandir
Long live his holiness Maharishi's glory
Long live Maharishi Vidya Mandir
</pre>
</font>
</marquee>

</body>
</html>
