<html>
<head><title>special feature</title>
{% load static %}
  <style>
body{
	background-image: url('{% static "images/_blue_background_195120.jpg" %}'); 
}
</style></head>
<body>
<font face="Californian FB" color="green" size="5" align="center"><h1><marquee scrollamount="12" behavior="SCROLL">  SPECIAL FEATURES </marquee></h1></font>
<HR COLOR="RED">
<font color="purple" face="Californian FB" size=6><b>
<p>1 Follows curriculum pattern of CBSE school- I to XII.</P>
<p>2 Has only English as medium of instruction in all classes.</p>
<p>3 Has good facilities for both curricular and co-curricular activities.</p>
<img src="{% static 'images/gthg.jpg'%}">
<p>4 The campus include calm and serene garden with special class rooms. </p>
<p>5 Transcendental meditation (T.M) based on the unified field of technology of his holiness maharishi Mahesh yogi and Yogasanas and pranayama are an important and regular part of the daily program.</p>
<p>6 Lives of great men are taught as a source of inspiration for the student.</p>
<p>7 Development of the total and multi-sided personality of the students is the major objectives of the school.</p>
<p>8 Guru Poojas are performed every day 9:00a.m and group bhajans are conducted every Thursday.</p>
<p>9 Basic knowledge of robotics and computer is also being imparted. </p>
<p>10 Junior lab for III to VIII and senior lab for IX TO XII are available.</p>
<p>11 Neuro linguistic program is given to students where they are taught different memorization technique and it helps in all-round personality development.</p>
<p>12 Learning by doing, experiencing through activities at kindergarten and primary school.</p>
<p>13 Technology-aided learning in all the branches of knowledge by preparation and presentation of educational CDs through multimedia.</p>
<p>14 Learning and reinforcement of mathematical concept through practical demonstration and introduction of non-routine topics at various levels.</p>
<p>15 National flag is hosted every Monday morning during the assembly session.</p>
<p>16 Leisure-time of children is ideally utilized by making them view subject related CDs to enhance their knowledge. </p>
<p>17 Establishment of the school as an informative technology center for conducting it course.</p>
<p>18 Introduction of worksheets in all primary classes in almost all the subject for increasing the creativity and comprehension level of the student.</p>
<p>19 Educomp smart class were introduced in MVM with effect July 2010 smart class provide by them is based on CBSE syllabus.</p>
<p>20 School has lingo lab which train the students on effective communication in English.</p>
<p>21 Students are provided with playing items and taught with different techniques to inspire children in body, mind, and spirit. </p>
<p>22 ALL CHILDREN AND STAFF ARE COVERED UNDER NEW INDIA ASSURANCE LTD. </P>
</b>
 </font>
</body>
</html>
