<html>
<head><title>sports</title>
{% load static %}
<style>
body{
	background-image: url('{% static "images/144489.jpg" %}'); 
}
</style>
</head>
<body background="_blue_background_195120.jpg">
<font face="Curlz MT" color="red" size=6><h1 align=center>Extra Curricular Activities</h1></font>
<hr color=violet size="5">
<br><br><br>
<p><font face="French Script MT" color="indigo" size=8>Skills nurtured at a tender age would reap greater and better benefits in the future. Training is given to our children in the form of EC-Activities like
<pre>
<table align=center border=3 cellspacing=4 cellpadding=4><p><tr><td><font face="Monotype Corsiva" color="green" size=6>Football</td>   <td><img src="{% static 'images/m,gmb.jpg' %}"></p></td></tr><br>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6><p>*basketball</td>  <td><img src="{% static 'images/gg.jpg' %}"><br></p></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*taekondo martial arts</td>  <td>  <img src="{% static 'images/tthy.jpg' %}" width=470></p> <br></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*kabade</td>  <td>   <img src="{% static 'images/cfg.jpg' %}" width=325><br></p></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*atheletics</td>  <td>   <img src="{% static 'images/rtrtt.jpg' %}"  width=465><br></p></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*volleyball</td>  <td>  <img src="{% static 'images/Copy of act1.jpg' %}"><br></p></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*yoga</td>  <td>    <img src="{% static 'images/sbyoga.jpg' %}"  width=500></p></i></b></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*robotics</td>  <td>    <img src="{% static 'images/dxvk,jk.jpg' %}" width=620></p></i></b></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*bharatnatyam</td>  <td><img src="{% static 'images/20-57-20-Untitled-4 copy.jpg' %}"></p></i></b></td></tr></font>
<tr><td><p><font face="Monotype Corsiva" color="green" size=6>*badminton</td>  <td><img src="{% static 'images/20-57-35-Untitled-6 copy.jpg' %}"></p></i></b></td></tr></font>
</pre></table>
</body>
</html>