<htmL>
<head>
<title>XSEED</title></head>
<body background="_blue_background_195120.jpg">
<font face="Californian FB" color="green" size="5" align="center"><h1><marquee scrollamount="12" behavior="SCROLL">  XSEED </marquee></h1></font>
<hr color="brown">
<B><p ALIGN="CENTER"><font face="Californian FB" color="purple" size="6">
<IMG SRC="xse.JPG"><BR>
XSEED Education is an Education company headquartered in Singapore, founded by Ashish Rajpal.

[2] XSEED is a proven and research based academic program for schools that builds thinking skills & problem solving confidence in children. XSEED children ask more questions, can write in their own words, like doing word problems in mathematics, can complete their homework on their own, and are not afraid to speak-up in English, persist longer in solving problems, and score well on tests.

Xseed education is practiced in an estimated 2000 schools across the nation, serving children from birth to thirteen years old. Xseed education serves over 1,000,000 children. [3] XSEED Living Knowledge System is an integrated curriculum, teacher training and assessment program for K-8 schools. </B>
</font>
</P>

</body>
</html>


